.icons i{
    font-size: 30px;
}

.sidebar {
    height: 94vh;
    background-color: #343a40;
    color: #fff;
    padding-left: 4px !important;
}

.navbar {
    background-color: #f8f9fa;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link:hover {
    color: #dee2e6;
}

.sidebar .nav-link.active {
    color: #007bff;
    font-weight: bold;
}

.sidebar .nav-item {
    /* padding-left: 20px; */
}

.icons{
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.icons a{
    display: flex;
    text-decoration: none !important;
}


.active{
    border: #c3bdbd 2px solid;
    border-radius: 5px;
    background-color: #c3bdbd;
    color: black !important;
}


.icon-text{
    display: flex !important;
    padding-left: 10px;
}

.sidebar{
    /* max-width: 63px !important; */
    max-width: 100%;
}

.icons{
    display: flex !important;
    padding-right: 0px;
}

.icon-text{
    display: none;
}

/* .sidebar:hover{
    max-width: 100% !important;
} */

/* .sidebar:hover .icon-text {
    display: flex !important;
    padding-left: 10px;
} */

/* .sidebar:hover .icons {
    display: flex !important;
    padding-right: 0px;
} */

/* .sidebar:hover .pages {
    display: flex !important;
    text-decoration: none;
    padding-left: 15px;
    color: white;
} */

/* .sidebar:hover .pages:hover{
    color: gray;
} */

.pages{
    display: flex !important;
    text-decoration: none;
    padding-left: 15px;
    color: white;
}

.pages:hover{
    color: gray;
    text-decoration: none;
}

/* message */

.message-box{
    margin-top: 3px;
    padding: 3px;
    border: rgba(0,0,0,.125) 1px solid;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

.message-box input{
    border: none;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    width: 80%;
}

.message-icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.chat-box {
    height: 85%;
    overflow-y: scroll;
}
.chat-message{
    /* display: unset; */
    width: fit-content;
}
.chat-bubble-send {
    /* display: flex; */
    background-color: #c3bdbd;
    /* color: white; */
    border-radius: 0.5rem;
    padding: 10px;
    /* margin-left: 630px; */
    margin-right: 10px;
    margin-bottom: 10px;
    /* float: right; */
    /* float: none;
    right: 0;
    position: absolute; */
}
/* .sent {
    float: right;
  } */
.chat-bubble-response {
    background-color: #a6dce0;
    /* color: white; */
    border-radius: 0.5rem;
    padding: 10px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    margin-left: 10px;
    /* display: block; */
}

.chat-message img{
    width: 315px;
    /* height: auto; */
    /* border-radius: 50%; */
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.date{
    font-size: 13px;
}

/* conversations */

.list-group li{
    /* margin-bottom: 10px; */
    /* border-radius: 25px; */
    height: 75px;
    border: 0px;
    padding: 15px 15px;
    cursor: pointer;
    background-color: inherit;
}

.conversation_list{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.conversation.selected {
    background-color: #f5f5f5;
    border-right: 3px solid #763ee6;
}

.conversation:hover {
    background-color: #f5f5f5;
}

.last_message{
    font-size: 13px;
    color: gray;
    font-style: italic;
}

.timestamp{
    font-size: 13px;
    color: gray;
    float: right;
}

.tabs {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

.tab-pills{
    /* border: #dee2e6 1px solid; */
    /* background-color: #dee2e6; */
    font-size: 17px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 10px;
}

.tab-pills:hover{
    background-color: #c3bdbd;
}

.tab-pills.active{
    background-color: #c3bdbd;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

nav {
    background-color: #f2f2f2;
}

.tabs li {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.tabs li.active {
    background-color: #ccc;
}

.messages {
    display: none;
}

.messages.active {
    display: block;
}

.filter-box{
    height: 20%;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.filter-pills{
    border: #dee2e6 1px solid;
    background-color: #dee2e6;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}

.filter-pills:hover{
    background-color: #c3bdbd;
}

.conversation-box{
    max-height: 80%;
    overflow-y: scroll;
}

.contact-details{
    padding: 10px;
    font-size: 13px;
}

.contact-details a{
    color: #007bff !important;
}

.contact-details a:hover{
    text-decoration: underline !important;
    cursor: pointer;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.conversation.new-message {
    animation: slideUp 0.5s ease-in-out;
}

.message-sent-failed{
    color: red;
    margin-right: 7px;
    cursor: pointer;
}

.emojionearea, .emojionearea.form-control{
    border: none !important;
}

input.emojionearea-editor{
    border: none !important;
    outline: none !important;
}

.message-box{
    text-align: left;
}
