{% extends "index.html" %}
{% block content %}
    <input type="hidden" id="isActiveElement" value="user">
    <div class="container" style="max-height: 85vh; overflow-y: auto;">
        <div class="d-flex justify-content-between" style="margin: 10px 0;">
            <h1>Employee Details</h1>
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-success">Add Employee</button>
        </div>
        <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: fit-content">
                <div class="modal-content" style="width: 600px  ">
                    <div class="modal-body">
                        <div>
                            <form id="form">
                                <div class="form-group">
                                    <label for="">Username</label>
                                    <input type="text" id="username" class="form-control" name="username" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="password" id="password" class="form-control" name="password" placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select class="form-control" id="role" name="role">
                                        <option value="1">Admin</option>
                                        <option value="2">Sales</option>
                                        <option value="3">Operation</option>
                                        <option value="4">Developer/Designer</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="role">Pages:</label>
                                    <select style="width: 100% !important;" class="form-control js-example-basic-multiple" id="pages" name="pages[]" multiple="multiple">
                                        <!-- <option value="1">Admin</option>
                                        <option value="2">Sales</option>
                                        <option value="3">Operation</option>
                                        <option value="4">Developer/Designer</option> -->
                                        {% for page in pages %}
                                            <option value="{{ page.id }}">{{ page.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addEmployee()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Paswword</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var page_ids, page_names;
        $(document).ready(function() {
            
            var allOptions = $("#pages").find("option");
    
            page_ids = allOptions.map(function() {
                return parseInt($(this).val());
            }).get();
            
            page_names = allOptions.map(function() {
                return $(this).text();
            }).get();
            
            loadEmplooyees();
            // $('.js-example-basic-multiple').select2();
        });

        function loadEmplooyees(){
            $.ajax({
                url: '/getEmployees',
                type: 'GET',
                async: false,
                success: function(data) {
                    $('tbody').html('')
                    console.log(data)
                    for(var i=0; i<data.length; i++)
                    {
                        var element = '';
                        // console.log(page_ids)

                        var pageIds = data[i].pages.map(function(page) {
                            return page.page_id;
                        });
                        
                        for(var j=0; j<page_ids.length; j++){
                            element += `<option value="${page_ids[j]}" ${pageIds.includes(page_ids[j]) ? 'selected' : ''}>${page_names[j]}</option>`
                        }
                        $('tbody').append(`
                            <tr>
                                <td>${data[i].id}</td>
                                <td>${data[i].username}</td>
                                <td>${data[i].password}</td>
                                <td>${data[i].role}</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#modal${data[i].id}" class="btn btn-warning">Edit</button>
                                    ${data[i].role_id != 1 ? `
                                        <button type="button" onclick="deleteEmployee('${data[i].id}')" class="btn btn-danger">Delete</button>
                                    ` : ''}
                                    <div class="modal" id="modal${data[i].id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: fit-content">
                                            <div class="modal-content" style="width: 600px  ">
                                                <div class="modal-body">
                                                    <div>
                                                        <form id="form${data[i].id}">
                                                            <div class="form-group">
                                                                <label for="">Username</label>
                                                                <input type="text" id="username${data[i].id}" class="form-control" name="username" value="${data[i].username}" placeholder="Enter username">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Password</label>
                                                                <input type="password" id="password${data[i].id}" class="form-control" name="password" value="${data[i].password}" placeholder="Enter password">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="role">Role:</label>
                                                                <select class="form-control" id="role${data[i].id}" name="role">
                                                                    <option ${data[i].role_id == 1 ? 'selected' : ''} value="1">Admin</option>
                                                                    <option ${data[i].role_id == 2 ? 'selected' : ''} value="2">Sales</option>
                                                                    <option ${data[i].role_id == 3 ? 'selected' : ''} value="3">Operation</option>
                                                                    <option ${data[i].role_id == 4 ? 'selected' : ''} value="4">Developer/Designer</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="role">Pages:</label>
                                                                <select style="width: 100% !important;" class="form-control js-example-basic-multiple" id="pages${data[i].id}" name="pages[]" multiple="multiple">
                                                                    ${element}
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" onclick="editEmployee('${data[i].id}')">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `)
                    }
                    $('.js-example-basic-multiple').select2();
                },
            });
        }

        function addEmployee(){
            //fetch data from form
            var form = document.getElementById('form');            
            $.ajax({
                url: '/addEmployee',
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal').modal('hide')
                    toastr.success('User Added');
                    loadEmplooyees();
                    $('#form').trigger("reset");
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

        function editEmployee(id){
            var form = document.getElementById('form' + id);
            $.ajax({
                url: '/editEmployee/' + id,
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal' + id).modal('hide')
                    toastr.success('User Edited');
                    loadEmplooyees()
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

        function deleteEmployee(id){
            $.ajax({
                url: '/deleteEmployee/' + id,
                type: 'POST',
                success: function(data) {
                    toastr.success('User Deleted');
                    loadEmplooyees()
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

    </script>
{% endblock %}