<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
</head>
<body>
  <!-- Horizontal Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <span class="navbar-text">
        {{ username }}
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form action="{{ url_for('logout') }}" method="post">
              <button type="submit" class="btn btn-outline-primary">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Vertical Navbar -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-1 sidebar">
        <!-- <div class=""> -->
          <ul class="nav flex-column">
            <li class="nav-item">
              <!-- <a class="nav-link" data-toggle="collapse" href="#adminCollapse">
                Admin
              </a> -->
              {% if role == 1 %}
              <div class="icons" id="user">
                <a style="color: unset" href="{{ url_for('employees') }}">
                  <i class="fa-solid fa-user"></i>
                  <span class="icon-text">User</span>
                </a>
              </div>
              <div class="icons" id="page">
                <a style="color: unset" href="{{ url_for('pages') }}">
                  <i class="fa-solid fa-pager"></i>
                  <span class="icon-text">Pages</span>
                </a>
              </div>
              {% endif %}
              <div class="icons" id="chat">
                <a style="color: unset" onclick="toggleChat()">
                  <i class="fa-solid fa-comment"></i>
                  <span class="icon-text">Chat</span>
                </a>
              </div>
              <div id="pages" style="display: none;">
                <!-- Additional options go here -->
                  <!-- <a class="pages" id="114887508325720">Option 1</a> -->
                  <!-- <a href="#">Option 2</a> -->
                  <!-- <a href="#">Option 3</a> -->
              </div>
              <div class="icons" id="sheet">
                <a style="color: unset" href="{{ url_for('sheets') }}">
                  <i class="fa-solid fa-table"></i>
                  <span class="icon-text">Sheets</span>
                </a>
              </div>
              <button class="btn btn-primary" data-toggle="modal" data-target="#TotalSalesModal">Add Total Sales</button>
            </li>
          </ul>
        <!-- </div> -->
      </nav>

      <div class="modal fade" id="TotalSalesModal" tabindex="-1" role="dialog" aria-labelledby="TotalSalesModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <form id="TotalSalesForm">
                    <div class="input-group justify-content-between">
                        <div class="form-group">
                            <label for="name">A.Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="date" style="width: 100%;" class="form-control" id="date" name="date">
                        </div>
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="form-group">
                            <label for="clientName">Client Name:</label>
                            <input type="text" class="form-control" id="clientName" name="clientName">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact:</label>
                            <input type="tel" class="form-control" id="contact" name="contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="form-group">
                            <label for="projectName">Project Name:</label>
                            <input type="text" class="form-control" id="projectName" name="projectName">
                        </div>
                        <div class="form-group">
                            <label for="product">Product:</label>
                            <input type="text" class="form-control" id="product" name="product">
                        </div>
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="form-group">
                            <label for="received">Received:</label>
                            <input type="text" class="form-control" id="received" name="received">
                        </div>
                        <div class="form-group">
                            <label for="source">Source:</label>
                            <input type="text" class="form-control" id="source" name="source">
                        </div>
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="form-group" style="width: 35%;">
                            <label for="totalCost">Total Cost:</label>
                            <input type="text" style="width: 90%;" class="form-control" id="totalCost" name="totalCost">
                        </div>
                        <div class="form-group" style="width: 30%;">
                            <label for="upfront">Upfront:</label>
                            <input type="text" style="width: 90%;" class="form-control" id="upfront" name="upfront">
                        </div>
                        <div class="form-group" style="width: 35%;">
                            <label for="remaining">Remaining:</label>
                            <input type="text" class="form-control" id="remaining" name="remaining">
                        </div>
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <input type="text" class="form-control" id="status" name="status">
                        </div>
                        <div class="form-group">
                            <label for="remarks">Remarks:</label>
                            <textarea id="remarks" class="form-control" name="remarks"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="addToTotalSale()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Page Content -->
      <main role="main" style="margin: 0px !important;" class="col-11">
        {% block content %}
        {% endblock %}
      </main>
      <!-- <main class="col-2" style="border: 1px solid black;"></main> -->
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    // $(document).ready(function() {
      $('.icons').removeClass('active');
      $('#' + $('#isActiveElement').val()).addClass('active');
    // });

    let el;
    $(document).ready(function() {
      $.get('/getPages', function(data){
        data.forEach(function(page){
          $('#pages').css('margin-top', '5px')
          el = $('<a class="pages" href="/chat/' + page.page_id + '" id="' + page.page_id + '">' + page.page_name + '</a>')
          $('#pages').append(el);
          try {
            if (page_id == page.page_id) {
              el.addClass('active')
            }
          } catch (error) {
            
          }
        });
      });
    });

    function toggleChat() {
      $('#pages').toggle();
    }

    function addToTotalSale(){
      //fetch data from form
      var form = document.getElementById('form');            
      $.ajax({
          url: '/addSale',
          type: 'POST',
          data: new FormData(form),
          processData: false,
          contentType: false,
          success: function(data) {
              $('#modal').modal('hide')
              toastr.success('Sale Added');
              $('#TotalSalesForm').trigger("reset");
              // Get the current date in the format "YYYY-MM-DD"
              const today = new Date().toISOString().split('T')[0];
              // Set the default value of the date input to today's date
              document.getElementById('date').value = today;
              $('#sheets').val('Total Sales')
              // loadSheetData('Total Sales');
          },
          error: function(error) {
              toastr.error(error);
          }
      });
  }

  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
