{% extends "index.html" %}
{% block content %}
    <input type="hidden" id="isActiveElement" value="page">
    <div class="container" style="max-height: 85vh; overflow-y: auto;">
        <div class="d-flex justify-content-between" style="margin: 10px 0;">
            <h1>Pages</h1>
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-success">Add Page</button>
        </div>
        <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: fit-content">
                <div class="modal-content" style="width: 600px  ">
                    <div class="modal-body">
                        <div>
                            <form id="form">
                                <div class="form-group">
                                    <label for="">Page Name</label>
                                    <input type="text" id="name" class="form-control" name="name" placeholder="Enter Page Name">
                                </div>
                                <div class="form-group">
                                    <label for="">Page ID</label>
                                    <input type="text" id="id" class="form-control" name="id" placeholder="Enter Page ID">
                                </div>
                                <div class="form-group">
                                    <label for="">Page Access Token</label>
                                    <input type="password" id="access_token" class="form-control" name="access_token" placeholder="Enter Page Access Token">
                                </div>
                                <div class="form-group">
                                    <label for="">Sheet</label>
                                    <select class="form-control" name="sheet" id="sheets">
                                        <option selected disabled>Select a Sheet</option>
                                        {% for sheet in sheets %}
                                            {% if sheet.title != 'Total Sales' %}
                                                <option value="{{ sheet.title }}">{{ sheet.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addPage()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Page Name</th>
                    <th>Page ID</th>
                    <th>Page Access Token</th>
                    <th>Sheet</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var sheets;

        $(document).ready(function() {
            var allOptions = $("#sheets").find("option");
            
            sheets = allOptions.map(function() {
                return $(this).text();
            }).get();
            
            loadPages();
        });

        function loadPages(){
            $.ajax({
                url: '/getPages',
                type: 'GET',
                success: function(data) {
                    $('tbody').html('')
                    console.log(data)
                    for(var i=0; i<data.length; i++)
                    {
                        var displayedToken = data[i].access_token.substr(0, 10) + "........." + data[i].access_token.substr(-10);
                        var element = '';
                        for(var j=0; j<sheets.length; j++){
                            element += `<option value="${sheets[j]}" ${sheets[j] == data[i].sheet ? 'selected' : ''}>${sheets[j]}</option>`
                        }
                        $('tbody').append(`
                            <tr>
                                <td>${data[i].name}</td>
                                <td>${data[i].id}</td>
                                <td>${displayedToken}</td>
                                <td>${data[i].sheet}</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#modal${data[i].id}" class="btn btn-warning">Edit</button>
                                    <button type="button" onclick="deletePage('${data[i].id}')" class="btn btn-danger">Delete</button>
                                    <div class="modal" id="modal${data[i].id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: fit-content">
                                            <div class="modal-content" style="width: 600px  ">
                                                <div class="modal-body">
                                                    <div>
                                                        <form id="form${data[i].id}">
                                                            <div class="form-group">
                                                                <label for="">Name</label>
                                                                <input type="text" id="name${data[i].id}" class="form-control" name="name" value="${data[i].name}" placeholder="Enter Page Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Password</label>
                                                                <input type="text" id="id${data[i].id}" class="form-control" name="id" value="${data[i].id}" placeholder="Enter Page ID">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Password</label>
                                                                <input type="text" id="access_token${data[i].id}" class="form-control" name="access_token" value="${data[i].access_token}" placeholder="Enter Page Access Token">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Sheet</label>
                                                                <select class="form-control" name="sheet" id="sheet${data[i].id}">
                                                                    ${element}
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" onclick="editPage('${data[i].id}')">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `)
                    }
                },
            });
        }

        function addPage(){
            //fetch data from form
            var form = document.getElementById('form');            
            $.ajax({
                url: '/addPage',
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal').modal('hide')
                    toastr.success('Page Added');
                    loadPages();
                    $('#form').trigger("reset");
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

        function editPage(id){
            var form = document.getElementById('form' + id);
            $.ajax({
                url: '/editPage/' + id,
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#modal' + id).modal('hide')
                    toastr.success('Page Edited');
                    loadPages()
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

        function deletePage(id){
            $.ajax({
                url: '/deletePage/' + id,
                type: 'POST',
                success: function(data) {
                    toastr.success('Page Deleted');
                    loadPages()
                },
                error: function(error) {
                    toastr.error(error);
                }
            });
        }

    </script>
{% endblock %}